/* Style: Material */
body {
    background-color: #263238;
    color: #eceff1;
    font-family: Georgia, "Times New Roman", serif;
    font-size: medium;
    line-height: 1.2em;
    margin: 0;
    padding: 2em 1em 1em 1em;
    text-align: left;
}

header,
main,
footer {
    padding: 0 0.5em 0 2em;
}

h1 {
    color: #9ccc65;
    line-height: 1.5em;
    text-align: center;
}

nav {
    padding: 1em 0.5em 0.5em 2em;
}

.itpage {
    padding: 0 2em 0.5em 2em;
    text-align: right;
}

h2 {
    border-top-style: dashed;
    color: #b38bfc;
    line-height: 1.3em;
    padding: 1em 0 0.5em 0;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

.navlinks {
    color: #2b98f0;
    font-size: large;
    line-height: 1.5em;
}

figure {
    text-align: center;
}

img {
    padding: 0;
}

a:link,
a:visited {
    color: #2b98f0;
    font-weight: bold;
    text-decoration: underline;
}

a:active,
a:hover,
a:focus {
    color: #fc625d;
}

kbd,
code {
    color: #fee94e;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.back {
    font-size: large;
    font-weight: bold;
}

address {
    color: #68b6f3;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
