/* Style: Monokai */
body {
    background-color: #272822;
    color: #f8f8f2;
    font-family: Georgia,
        "Times New Roman",
        serif;
    font-size: medium;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
    padding: 2em 1em 1em;
    text-align: left;
}

header,
nav,
main,
footer {
    padding: 0 0.5em 0 2em;
}

h1 {
    color: #e69f66;
    text-align: center;
}

nav {
    padding: 1em 0.5em 0.5em 2em;
}

.itpage {
    padding: 0 2em 0.5em 2em;
    text-align: right;
}

h2 {
    border-top-style: dashed;
    color: #e6db74;
    padding: 1em 0 0.5em 0;
}

ul {
    list-style-type: disc;
}

.navlinks {
    font-size: large;
    font-weight: bold;
    line-height: 1.5em;
    list-style-type: circle;
}

figure {
    text-align: center;
}

img {
    padding: 0;
}

a:link,
a:visited {
    color: #66d9ef;
    text-decoration: underline;
}

a:active,
a:hover,
a:focus {
    color: #f92672;
    text-decoration: underline;
}

kbd {
    color: #a6e22e;
    font-family: "Courier New", Courier, mono;
}

address {
    color: #776644;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
