/* Style: Base16 */
body {
    background-color: #f5f5f5;
    color: #202020;
    font-family: Georgia,
        "Times New Roman",
        serif;
    font-size: medium;
    line-height: 1.2em;
    margin: 0;
    padding: 2em 1em 1em 1em;
    text-align: left;
}

header,
main,
footer {
    padding: 0 0.5em 0 2em;
}

h1 {
    color: #151515;
    line-height: 1.5em;
    text-align: center;
}

nav {
    padding: 1em 0.5em 0.5em 2em;
}

.itpage {
    padding: 0 2em 0.5em 2em;
    text-align: right;
}

h2 {
    border-top-style: dashed;
    color: #6a9fb5;
    line-height: 1.3em;
    padding: 1em 0 0.5em 0;
}

ul {
    list-style-type: disc;
}

.navlinks {
    color: #ac4142;
    font-size: large;
    line-height: 1.5em;
}

figure {
    text-align: center;
}

img {
    padding: 0;
}

a:link,
a:visited {
    color: #ac4142;
    font-weight: bold;
    text-decoration: underline;
}

a:active,
a:hover,
a:focus {
    color: #aa759f;
    font-weight: bold;
    text-decoration: underline;
}

kbd,
code,
var {
    color: #8f5536;
    font-family: "Courier New", Courier, mono;
    font-weight: bold;
}

.jscode {
    background-color: #e0e0e0;
    padding: 1em 1em 1em 3em;
}

.back {
    font-size: large;
    font-weight: bold;
}

address {
    color: #8f5536;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
