/* Style: Cat in the City */
body {
    background-color: #d0c9c6;
    color: #090b15;
    font-family: Georgia,
        "Times New Roman",
        serif;
    font-size: medium;
    line-height: 1.2em;
    margin: 0;
    padding: 2em 1em 1em;
    text-align: left;
}

header,
article,
footer {
    padding: 0 0.5em 0 2em;
}

h1 {
    color: #1c2039;
    text-align: center;
}

h2 {
    border-top-style: dashed;
    color: #343961;
    padding: 1em 0 0.5em 0;
}

ul {
    list-style-type: disc;
}


figure {
    text-align: center;
}

img {
    padding: 0;
}

a:link,
a:visited {
    color: #343961;
    text-decoration: underline;
}

a:active,
a:hover,
a:focus {
    color: #747474;
    text-decoration: underline;
}

kbd {
    color: #272727;
    font-family: "Courier New", Courier, mono;
    font-weight: bold;
}

.read,
.back {
    font-weight: bold;
}

address {
    font-size: large;
    font-weight: bold;
    text-align: center;
}
