/* Style: Narkdown Blue */
body {
    background-color: #0084ff;
    color: #f8f8f2;
    font-family: Georgia,
        "Times New Roman",
        serif;
    font-size: medium;
    line-height: 1.2em;
    margin: 0;
    padding: 2em 1em 1em;
    text-align: left;
}

header,
main,
footer {
    padding: 0 0.5em 0 2em;
}

h1 {
    color: #ffffff;
    text-align: center;
}

nav {
    padding: 1em 0.5em 0.5em 2em;
}

.itpage {
    padding: 0 2em 0.5em 2em;
    text-align: right;
}

h2 {
    border-top-style: dashed;
    color: #abda00;
    padding: 1em 0 0.5em 0;
}

ul {
    list-style-type: disc;
}

.navlinks {
    color: #ffc300;
    font-size: large;
    line-height: 1.5em;
}

figure {
    text-align: center;
}

img {
    padding: 0;
}

a:link,
a:visited {
    color: #ffc300;
    font-weight: bold;
    text-decoration: underline;
}

a:active,
a:hover,
a:focus {
    color: #74ee15;
    font-weight: bold;
    text-decoration: underline;
}

kbd,
code {
    color: #303cbe;
    font-family: "Courier New", Courier, mono;
    font-weight: bold;
}

.back {
    font-size: large;
    font-weight: bold;
}

address {
    color: #e5eff5;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
