/* Style: Tkinter Colors (Ver. 2) */
body {
    background-color: #f2f2f2;
    color: #040404;
    font-family: Georgia, "Times New Roman", serif;
    font-size: medium;
    line-height: 1.2em;
    margin: 0;
    padding: 2em 1em 1em 1em;
    text-align: left;
}

header,
main,
footer {
    padding: 0 0.5em 0 2em;
}

h1 {
    color: #009800;
    line-height: 1.5em;
    text-align: center;
}

nav {
    padding: 1em 0.5em 0.5em 2em;
}

.itpage {
    padding: 0 2em 0.5em 2em;
    text-align: right;
}

h2 {
    border-top-style: dashed;
    color: #ff8900;
    line-height: 1.3em;
    padding: 1em 0 0.5em 0;
}

ul {
    list-style-type: disc;
}

.navlinks {
    color: #2e0082;
    font-size: large;
    line-height: 1.5em;
}

figure {
    text-align: center;
}

img {
    padding: 0;
}

a:link,
a:visited {
    color: #2e0082;
    font-weight: bold;
    text-decoration: underline;
}

a:active,
a:hover,
a:focus {
    color: #ff0000;
}

pre {
    font-family: "Courier New", Courier, monospace;
}

kbd,
code {
    color: #b900f4;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.back {
    font-size: large;
    font-weight: bold;
}

address {
    color: #5e5e5e;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
